.headStyle{
    background-color: brown;
    color: bisque;
}
.head2_h1{
    background-color: green;
    color: greenyellow;
}
.head2_h2{
    background-color: pink;
    color: skyblue;
}
.head2_h3{
    background-color: orange;
    color: black;
}
.head2_h4{
    background-color: violet;
    color: blueviolet;
}